/**
 * Thème 2017
 */
.edition--2017 {
	--24: #26271f;
	--jours: #8dc7db;
	--de-web: #de362c;
}

.home--2017 .hero {
	min-height: 36.875rem;
	text-align: center;
	background: #e3f1f5 url(../images/header/2017/background.jpg) no-repeat center top / 125rem 33.0625rem;
}

.home--2017 .hero-content {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	min-height: 33.125rem;
	background: url(../images/header/2017/characters.png) no-repeat center bottom / 125rem 21.875rem;
}

@media only screen and (max-width: 56.25rem) {
	.home--2017 .hero-content {
		background-position: right -34.375rem bottom;
	}
}

.home--2017 .hero::after {
	content: "";
	display: block;
	height: 0.25rem;
	width: 100%;
	background: var(--de-web);
	position: absolute;
	bottom: 0.375rem;
	left: 0;
	right: 0;
}

.home--2017 .hero-logo svg {
	width: 14.55rem;
	height: 5.45rem;
	margin-bottom: .8rem;
	margin-top: .125rem;
}

@media only screen and (max-width: 31.25em) {
	.home--2017 .hero-logo svg {
		max-width: 60%;
		height: auto;
	}
}

.home--2017 .hero-baseline {
	display: inline;
	padding: 0.5rem 1.5rem;
	width: auto;
	max-width: 80%;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, sans-serif, var(--emoji-stack);
	font-size: 0.75rem;
	background: var(--de-web);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.home--2017 main {
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 5.5rem;
	border-top: 0.25rem solid var(--de-web);
	background: var(--de-web) url(../images/header/2017/pattern.png) center -1.5rem;
}

.home--2017 .footer {
	margin-top: 0;
}

.home--2017 .calendar {
	margin-top: -10rem;
	border-top: 0.25rem solid var(--de-web);
}

.home--2017 .calendar::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -1.125rem;
	display: block;
	width: 100%;
	height: 1.125rem;
	background: url(../images/header/2017/pin.png) no-repeat center top;
	background-size: 75.125rem 1.25rem;
}

.home--2017 .day-off {
	background: #e2e8e9;
}

.home--2017 .day-off-cell {
	border-color: #a2dbe9;
}

.home--2017 .day-link {
	background-color: #eff1db;
	border-color: #a2dbe9;
}

.home--2017 .day:nth-child(2n + 1) .day-link {
	background-color: #d1eef5;
}

.home--2017 .day-number,
.home--2017 .day-off-number,
.edition--2017 .header::after {
	background-color: var(--de-web);
}

.edition--2017 .header {
	background: linear-gradient(to bottom, #86c1d8 0%, #a3e8f9 100%);
}

.edition--2017 .footer {
	background: #deecf0;
	border-top-color: #7b8f96;
}

.edition--2017 .footer-logo-img {
	--jours: #deecf0;
}
