/**
 * Thème 2023
 */
.edition--2023 {
	--24: #ffe7a8;
	--jours: #4f1eb6;
	--de-web: #9458ff;
}

.home--2023 .site {
	background: #4f1eb6;
}

.home--2023 .hero {
	background: transparent url(../images/header/2023/header.jpg) no-repeat center bottom;
}

.edition--2023 .header {
	background: #004063;
}

.edition--2023 .header::after {
	background-color: #aed5fe;
}

.edition--2023 .hero-content {
	padding-top: 3rem;
	min-height: 38rem;
}

.edition--2023 .hero-baseline {
	color: var(--24);
}

.edition--2023 .footer {
	margin-top: 2rem;
	border-color: #aed5fe;
}

.edition--2023 :is(.header-archive, .footer-archives, .jdw-button, .comment-button, .comment-edit-link) {
	filter: hue-rotate(220deg);
}

.home--2023 .calendar {
	margin-top: 0;
	background-color: #cbebfd;
}

.home--2023 .day-off {
	background-color: #b1d2eb;
}

.home--2023 .day-off-cell {
	border-color: #cbebfd;
}

.home--2023 .day-number {
	background-color: #183b54;
	color: #fdfefc;
}

.home--2023 .day-off-number {
	background-color: #d4ebfc;
	color: #183b54;
}

.home--2023 .day .day-link {
	border-color: #cbebfd;
}

.home--2023 .day:nth-child(5n + 1) .day-link {
	color: #fff;
	background-color: #095b9a;
}

.home--2023 .day:nth-child(5n + 2) .day-link {
	color: #003550;
	background-color: #aee5e7;
}

.home--2023 .day:nth-child(5n + 3) .day-link {
	color: #fff;
	background-color: #045d7d;
}

.home--2023 .day:nth-child(5n + 4) .day-link {
	color: #003550;
	background-color: #a7d4ff;
}

.home--2023 .day:nth-child(5n + 5) .day-link {
	color: #fff;
	background-color: #146156;
}

.edition--2023 :is(.post-title, .post-entry h2, .post-entry h3, .post-entry a, .post-author-title, .comments-title, .posts-nav) {
	color: #095b9a;
}

.edition--2023 .post-entry ul li::before {
	background-color: #095b9a;
}
