/**
 * Thème 2023
 */
.edition--2023 {
	--24: #ffe7a8;
	--jours: #4f1eb6;
	--de-web: #9458ff;
}

.edition--2023 :not(.day-link):focus-visible {
	box-shadow: 0 0 0 .125rem var(--24);
	isolation: isolate;
	outline: .125rem solid var(--jours);
	outline-offset: .125rem;

}

.home--2023 .site {
	background: linear-gradient(
		var(--jours) 38rem,
		#320e78
	);
}

.home--2023 .hero {
	background: transparent url(../images/header/2023/header.jpg) no-repeat calc(50% - 1px) bottom;
}

.edition--2023 .header {
	background: var(--jours);
}

.edition--2023 .header::after {
	background-color: var(--de-web);
}

.edition--2023 .hero-content {
	padding-top: 2rem;
	min-height: 38rem;
}

.edition--2023 .hero-baseline {
	color: var(--24);
	font-size: .875em;
	font-weight: 700;
	width: 18em;
}

.edition--2023 :is(.footer, .jdw-button, .comment-button, .comment-edit-link) {
	margin-top: 0;
	background: #320e78;
	border-color: currentColor;
	color: var(--24);
}

.edition--2023 .footer-archives {
	transform: translateX(6rem);
}

.edition--2023 .footer-logo-img {
	--24: inherit;
	--jours: #7b5b88;
	filter: drop-shadow(0 0 .25rem var(--24));
}

.edition--2023 :is(.header-archive, .footer-archives) {
	--ribbon-color: var(--24);
	--ribbon-bg: var(--jours);
	--ribbon-border: currentcolor;

	color: var(--ribbon-color);
}

.edition--2023 .header-archive {
	--ribbon-color: #3e1494;
	--ribbon-bg: #9257ff;
}

.home--2023 .calendar {
	background: #6731d1 url(../images/header/2023/bg.jpg) repeat-y left -.25rem top;
	border: 0;
	gap: 1rem;
	margin-top: 0;
	padding: 1rem 1rem 4rem;
}

.home--2023 :is(.day, .day-off) {
	background: transparent;
	perspective: 80rem;
	transform-origin: 0 100%;
}

.home--2023 :is(.day, .day-off) > * {
	--is-reversed: -1;
	border-color: #0b0318;
	box-shadow: calc(.5rem * var(--is-reversed, 1)) .5rem 0 0 #000;
	transform:
		rotateY(calc(20deg * var(--is-reversed, 1)))
		translateX(calc(.25rem * var(--is-reversed, 1)));
}

.home--2023 :is(.day, .day-off):nth-child(odd) > * {
	--is-reversed: 1;
}

@media only screen and (min-width: 31.25rem) and (max-width: 41.4375rem) {
	.home--2023 :is(.day, .day-off):first-child > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(4n), :nth-child(4n) + *) > * {
		--is-reversed: -1;
	}

	.home--2023 :is(.day, .day-off):is(:nth-child(4n + 2), :nth-child(4n + 2) + *) > * {
		--is-reversed: 1;
	}
}

@media only screen and (min-width: 55rem) and (max-width: 89.9375rem) {
	.home--2023 :is(.day, .day-off):first-child > *,
	.home--2023 :is(.day, .day-off):nth-child(1) + * + * > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(6), :nth-child(6) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(9), :nth-child(9) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(14), :nth-child(14) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(17), :nth-child(17) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(22), :nth-child(22) + * + *) > * {
		--is-reversed: -1;
	}

	.home--2023 :is(.day, .day-off):is(:nth-child(2), :nth-child(2) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(5), :nth-child(5) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(10), :nth-child(10) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(13), :nth-child(13) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(18), :nth-child(18) + * + *) > *,
	.home--2023 :is(.day, .day-off):is(:nth-child(21), :nth-child(21) + * + *) > * {
		--is-reversed: 1;
	}
}

@media only screen and (min-width: 90rem) {
	.home--2023 :is(.day, .day-off):nth-child(odd) > *,
	.home--2023 :is(.day, .day-off):nth-child(6) ~ :nth-child(even) > * {
		--is-reversed: 1;
	}

	.home--2023 :is(.day, .day-off):nth-child(6) ~ :nth-child(odd) > *,
	.home--2023 :is(.day, .day-off):nth-child(12) ~ :nth-child(even) > * {
		--is-reversed: -1;
	}

	.home--2023 :is(.day, .day-off):nth-child(12) ~ :nth-child(odd) > *,
	.home--2023 :is(.day, .day-off):nth-child(18) ~ :nth-child(even) > * {
		--is-reversed: 1;
	}

	.home--2023 :is(.day, .day-off):nth-child(18) ~ :nth-child(odd) > * {
		--is-reversed: -1;
	}
}

.home--2023 .day-off:nth-child(6n + 1)  > * {
	background-color: #320e78;
	color: #320e78;
}

.home--2023 .day-off:nth-child(6n + 2)  > * {
	background-color: #7e43f7;
	color: #7e43f7;
}

.home--2023 .day-off:nth-child(6n + 3)  > * {
	background-color: #6931d0;
	color: #6931d0;
}

.home--2023 .day-off:nth-child(6n + 4)  > * {
	background-color: #3e1494;
	color: #3e1494;
}

.home--2023 .day-off:nth-child(6n + 5)  > * {
	background-color: #6931d0;
	color: #6931d0;
}

.home--2023 .day-off:nth-child(6n + 6)  > * {
	background-color: #4f1eb6;
	color: #4f1eb6;
}

.home--2023 .day-link {
	background-color: var(--24);
	box-shadow: .125rem .125rem 1.5rem #fdb63a99 !important;
	color: var(--jours);
	overflow: hidden;
	transition-property: box-shadow, transform;
	will-change: box-shadow, transform;
}

.home--2023 .day-link:is(:hover, :focus) {
	box-shadow: 0 0 5rem #fdb63a !important;
	transform: none;
}

.home--2023 .day-link .day-number {
	background-color: #fdb63a;
	box-shadow: 0 0 4rem 4rem #fdb63a;
	color: #0b0318;
	transition: box-shadow cubic-bezier(0.5, 1.5, 0.5, 1.5) 0.4s 0.1s;
	will-change: box-shadow;
}

.home--2023 .day-link:is(:hover, :focus) .day-number {
	box-shadow: 0 0 0 0 #fdb63a;
}

.home--2023 .day-off-number {
	background-color: var(--24);
	color: inherit;
}

.home--2023 .day-author {
	color: #0b0318;
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 500;
}

.home--2023 .day-author::before {
	background: #fdb63a;
	border-top: .125rem solid;
	content: "";
	height: auto;
	inset: 0 -1.5rem -1.5rem;
	position: absolute;
	width: auto;
	z-index: -1;
}

.home--2023 .day-title {
	font-family: Raleway, sans-serif;
	font-weight: 700;
}

.edition--2023 .post {
	color: #0b0318;
}

.edition--2023 .post-entry :is(blockquote, .pullquote, .answer) {
	color: inherit;
	border-left-color: var(--24);
}

.edition--2023 .post-entry :is(img, .wp-video) {
	border-color: var(--24);
}

.edition--2023 :is(.comment-textbox, .comment-textarea) {
	border-color: #fdb63a;
}

.edition--2023 :is(.post-title, .post-author-title, .post-aside, .posts-nav, .comments-publish, .comments-title),
.edition--2023 .post-entry :is(h2, h3, h4, h5, h6, strong),
.edition--2023 .footnotes li::marker,
.edition--2023.single .post-entry > p:not([class]):first-of-type::first-letter {
	color: var(--jours);
}

.edition--2023 .post-entry ul li::before {
	background-color: var(--de-web);
}

.edition--2023 .post-entry .section::after,
.edition--2023 :is(.post-entry .section, .post-footer, .posts-nav-link a, .comment-form),
.edition--2023 :is(.post-entry .section, .post-footer)::before {
	background-color: #fff5dc;
}

.edition--2023 .post-footer::after,
.edition--2023 :is(.post-author-avatar img) {
	background-color: var(--24);
}

/**
 * Filtre généré pour atteindre la couleur cible
 * @link https://codepen.io/sosuke/pen/Pjoqqp
 */
.edition--2023 :is(.post-meta, .post-share-link)::before,
.edition--2023 .post-comments-link::after {
	filter: saturate(0) brightness(0) invert(11%) sepia(94%) saturate(5643%) hue-rotate(263deg) brightness(79%) contrast(94%);
}

.edition--2023 :is(.posts-nav-link, .footer-link--twitter) a::before {
	filter: saturate(0) brightness(0) invert(92%) sepia(15%) saturate(1070%) hue-rotate(327deg) brightness(102%) contrast(107%);
}


.edition--2023 :is(.post-meta--length, .post-meta--comments) {
	border-top-color: var(--de-web);
}

/* @todo Focus et responsive */
/* @todo Regrouper les propriétés répétées */
